
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #ff385c;
  color: white;
  padding: 10px 20px;
  display: flex;
}
header h1 {
  color: #f4f4f4;
  margin: 0;
}
nav ul {
  list-style-type: none;
  padding: 0;
  position: right;
  margin-left: auto;
  display: flex;
  align-items: center;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
section {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section h1 {
  color: #333;
}
section p {
  font-size: 1.2em;
  color: #666;
} 
section h2 {
  color: #ff385c;
}
section ul {
  list-style-type: none;
  padding: 0;
}
section ul li {
  background-color: #f4f4f4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}
section ul li:hover {
  background-color: #e2e2e2;
}
section {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
} 

h1 {
  color: #ff385c;
}
p {
  font-size: 1.2em;
  color: #666;
}
a {
  color: #ff385c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
