<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./output.css">
</head>
<body>
  <header>
    <h1>Airbnb</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/contact-us">Contact</a></li>
      </ul>
    </nav>
  </header>
  <section>
    <h1>Contact Us</h1>
    <p>If you have any questions, feel free to reach out!</p>
    <form action="/contact-success" method="POST">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><br><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email"><br><br>
      <label for="message">Message:</label><br>
      <textarea id="message" name="message"></textarea><br><br>
      <input type="submit" value="Submit">
    </form>
    <p><a href="/">Go back to home</a></p>
  </section>
</body>
</html>