<%-include('../partials/head')  %>
</head>
<body>
  <%-include('../partials/nav')  %>


<section>
  Well come to bookings page
  
</section>


  <%-include('../partials/toggle')  %>
</body>
</html>