<form action="/favourites" method="POST">
  <button class="bg-green-600 hover:bg-green-900 transition m-3 rounded-lg w-50 cursor-pointer" type="submit" >Add To Favourites </button>
  <input type="hidden" name="homeId" value="<%= home.id %>"> 
</form>