<%- include('../partials/head')  %>
</head>
<body>
  <%- include('../partials/nav')  %>
  

<section>
  <h3> Well comee to Favourites </h3>
</section>


  <%- include('../partials/toggle')  %>
</body>


</html>